/* font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  font: 96px "Poppins", sans-serif;
}

h2 {
  font: 48px "Playfair Display", serif;
}

h3 {
  font: 24px "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

